@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: black;
  color: white;
}
.d1{
    width: 100%;
    height: 100vb;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(image\(1\).png);background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 50px 50px;
    position: relative;
}
.n1{
    justify-content: space-between;
    display: flex;
}
.d2{
    position: absolute;
    top: 70px;
    left: 85%;
}
.i1{
    width: 20%;
}
.d2 button{
    background: orangered;
    color: white;
    height: 51px;
    border-radius: 33px;
    padding-block: 18px;
    padding-inline: 20px;
    cursor: pointer;
    font-size: 17px;  
}
.content{
    position: relative;
    top: 100px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding-inline: 10px;
}
.content h1{
    font-size: 60px;
}
.content button{
    background: orangered;
    color: white;
    display: inline-flex;
    cursor: pointer;
    padding-inline: 17px;
    padding-block: 17px;
    font-size: 24px;
    border-radius: 6px;
}
.content input{
     box-shadow: 10px;
    display: inline-flex;
    background: transparent;
    border-radius: 6px;
    border-color: white;
    color: white;
    padding-inline: 63px;
    padding-block: 19px;
    font-size: 18px;
}
